/* Start Section 1 MyBasket  */

*,
div,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#myBasket > div > div:first-of-type {
  position: relative;
}
#myBasket > div > div:first-of-type > p.titleCart {
  font-size: 33px;
  font-weight: bold;
  text-transform: lowercase;
}

#myBasket > div > div:first-of-type > p.titleCart > span {
  color: #21b1f6;
  font-size: 19px;
  font-weight: bold;
  margin-left: 31px;
  word-spacing: -2px;
}

#myBasket > div > div:first-of-type > p.removeAll {
  background: #da4559;
  width: fit-content;
  margin: 0;
  color: white;
  padding: 3px 11px;
  border-radius: 10px;
  border-bottom: 2px solid #af3344;
  position: absolute;
  z-index: 2;
  top: 74px;
  left: 24px;
  cursor: pointer;
}

#myBasket > div > div:first-of-type table > tbody tr {
  border-color: white;
}

#myBasket > div > div:first-of-type table > tbody td:nth-of-type(3) > div {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: flex-end;
  transform: translate(5px, -30px);
}
#myBasket
  > div
  > div:first-of-type
  table
  > tbody
  td:nth-of-type(3)
  > svg:first-of-type {
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}
#myBasket
  > div
  > div:first-of-type
  table
  > tbody
  td:nth-of-type(3)
  > svg:last-of-type {
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}

#myBasket > div > div:first-of-type table > tbody td img {
  width: 79px;
  border-bottom: 1px solid #e1e1e1;
  padding: 9px;
}

#myBasket
  > div
  > div:first-of-type
  table
  > tbody
  td:first-of-type
  > div
  > p:first-of-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin: 0;
}
#myBasket
  > div
  > div:first-of-type
  table
  > tbody
  td:first-of-type
  > div
  > p:nth-last-of-type(2) {
  margin: 3px 0 -2px;
  color: #a0a0a0;
}

#myBasket
  > div
  > div:first-of-type
  table
  > tbody
  td:first-of-type
  > div
  > p:nth-last-of-type(1) {
  font-size: 15px;
  color: #9f9a9a;
}
#myBasket
  > div
  > div:first-of-type
  table
  > tbody
  td:first-of-type
  > div
  > p:nth-last-of-type(1)
  svg {
  font-weight: bold;
  color: #21b1f6;
}

#myBasket > div > div:first-of-type table > tbody td:not(td:first-of-type) {
  font-size: 16px;
  font-weight: bold;
}

#myBasket > div > div:first-of-type table > tbody td:last-of-type svg {
  border-radius: 50%;
  color: #fff;
  border: 1px solid #8b0808;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 21px;
  border: none;
}

#myBasket > div > div:first-of-type table > tbody td:last-of-type button {
  border-radius: 50%;
  background: #9f9a9a;
  color: #fff;
  border: 1px solid #6f6a6a;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myBasket > div > div:first-child > div:first-of-type {
  background: #fff;
  padding: 68px 8px 0px;
  border-radius: 11px;
  position: relative;
  overflow: hidden;
}

#myBasket > div > div:first-child > div:first-of-type::after {
  content: "SALE TIME";
  position: absolute;
  top: 0;
  right: 0;
  background: #da4559;
  color: white;
  font-size: 14px;
  font-weight: 500;
  transform: rotate(45deg) translate(32px, -7px);
  padding: 5px 29px;
}

@media screen and (max-width: 767px) {
  #myBasket > div > div:first-of-type table > tbody td:not(td:first-of-type) {
    font-size: 11px;
    min-width: 59px;
  }
  #myBasket
    > div
    > div:first-of-type
    table
    > tbody
    td:first-of-type
    > div
    > p:first-of-type {
    font-size: 11px;
  }
  #myBasket
    > div
    > div:first-of-type
    table
    > tbody
    td:first-of-type
    > div
    > p:nth-last-of-type(2) {
    font-size: 10px;
  }
  #myBasket
    > div
    > div:first-of-type
    table
    > tbody
    td:first-of-type
    > div
    > p:nth-last-of-type(1) {
    font-size: 10px;
  }
  #myBasket
    > div
    > div:first-of-type
    table
    > tbody
    td:nth-of-type(3)
    > svg:first-of-type,
  #myBasket
    > div
    > div:first-of-type
    table
    > tbody
    td:nth-of-type(3)
    > svg:last-of-type {
    font-size: 12px;
  }
  #myBasket > div > div:first-of-type table > tbody td:last-of-type button {
    width: 12px !important;
    height: 12px !important;
  }
  #myBasket > div > div:first-of-type > p.removeAll {
    font-size: 10px;
    padding: 3px 8px;
  }
  #myBasket > div > div:first-of-type > p.titleCart {
    font-size: 20px;
    margin-bottom: 29px;
  }
  #myBasket > div > div:first-of-type > p.titleCart > span {
    font-size: 13px;
    margin-left: 6px;
  }
}

/* End Section 1 MyBasket  */
/* Start Section 2 My Basket  */

#myBasket > div > div:last-of-type {
  background: #ffffff;
  padding: 21px 30px;
  transform: translateY(48px);
  border-radius: 9px;
}

#myBasket > div > div:last-of-type > div:first-of-type p:first-of-type {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

#myBasket > div > div:last-of-type > div:first-of-type address {
  line-height: 16px;
  margin-top: 5px;
  font-size: 12px;
  color: #424242;
}

#myBasket > div > div:last-of-type > div:nth-of-type(2) {
  margin: 40px 0;
}

#myBasket > div > div:last-of-type > div:nth-of-type(2) p:first-of-type {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

#myBasket > div > div:last-of-type > div:nth-of-type(2) p:nth-of-type(2),
#myBasket > div > div:last-of-type > div:nth-of-type(2) p:nth-of-type(3) {
  margin: 0;
  font-size: 12px;
  color: #424242;
}

#myBasket > div > div:last-of-type > div:nth-of-type(2) p:nth-of-type(3) {
  margin-top: 7px;
}

#myBasket > div > div:last-of-type > div:nth-of-type(3) {
  margin: 40px 0;
}

#myBasket > div > div:last-of-type div:nth-of-type(3) p:first-of-type {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

#myBasket > div > div:last-of-type div:nth-of-type(3) p:nth-of-type(2) {
  margin: 0;
  font-size: 12px;
  color: #424242;
}

#myBasket > div > div:last-of-type div:nth-of-type(3) > div {
  margin-top: 12px;
}

#myBasket > div > div:last-of-type div:nth-of-type(3) > div input {
  font-size: 11px;
  border: 1px solid #9e9e9e;
  border-radius: 9px;
  padding: 3px 0px 3px 13px;
  width: 141px;
  caret-color: #2196f3;
  outline: none;
}

#myBasket > div > div:last-of-type div:nth-of-type(3) > div button {
  border-radius: 5px;
  color: #fff;
  background-color: #505050;
  font-size: 10px;
  text-transform: capitalize;
  padding: 2px 9px;
}

#myBasket > div > div:last-of-type > div:nth-of-type(4) {
  margin: 40px 0;
  padding: 0;
}

#myBasket > div > div:last-of-type > div:nth-of-type(4) > div:first-of-type {
  padding: 0;
}

#myBasket > div > div:last-of-type > div:nth-of-type(4) > div:first-of-type p {
  font-size: 12px;
  color: #898888;
  margin: 0;
  font-weight: 600;
}

#myBasket
  > div
  > div:last-of-type
  > div:nth-of-type(4)
  > div:last-of-type
  p:first-of-type {
  margin: 0;
}
#myBasket
  > div
  > div:last-of-type
  > div:nth-of-type(4)
  > div:last-of-type
  p:last-of-type {
  margin: 0;
  font-weight: 800;
  color: red;
}

#myBasket > div > div:last-of-type > div:nth-of-type(5) {
  margin: 40px 0;
}
#myBasket > div > div:last-of-type > div:nth-of-type(5) > div:first-of-type {
  padding: 0;
}

#myBasket
  > div
  > div:last-of-type
  > div:nth-of-type(5)
  > div:first-of-type
  p:first-of-type {
  font-size: 12px;
  color: #898888;
  margin: 0;
  font-weight: 600;
}

#myBasket
  > div
  > div:last-of-type
  > div:nth-of-type(5)
  > div:first-of-type
  p:last-of-type {
  font-size: 22px;
  margin: 0;
  font-weight: 600;
}

#myBasket > div > div:last-of-type > div:nth-of-type(5) > div:last-of-type {
  padding: 0;
}
#myBasket > div > div:last-of-type > div:nth-of-type(5) > div:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}
#myBasket
  > div
  > div:last-of-type
  > div:nth-of-type(5)
  > div:last-of-type
  button {
  background: #2196f3;
  width: 92px;
  color: #fff;
  border: none;
  padding: 5px 0px;
  border-radius: 4px;
  font-weight: 500;
}

/* End Section 2 My Basket  */
