/* Start NavBar  */

nav.navbar {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 12px 100px;
}

div a.logo {
  text-transform: uppercase;
  font-size: 19px;
}

div a.logo span:first-child {
  font-weight: 900;
  margin-right: 5px;
}

div a.logo span:last-child {
  font-weight: 700;
  color: #2196f3;
}

nav > div > div ul {
  display: flex;
  gap: 20px;
}

nav > div > div ul li a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  color: black !important;
  font-weight: 500 !important;
  position: relative;
}

nav > div > div ul li a.active,
nav > div > div ul li a:hover {
  color: #2c44f9 !important;
}

nav > div > div ul a::after {
  content: "";
  position: absolute;
  background: #2c44f9;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: width 0.8s ease;
}

nav > div > div ul a:hover::after,
nav > div > div ul a.active::after {
  width: 100%;
}

nav > div > div > ul + div:first-of-type {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin: 0;
}
nav > div > div > ul + div:first-of-type p {
  margin: 0;
}

nav > div > div > ul + div:first-of-type button {
  padding: 3px 16px;
  border-radius: 6px;
  border: 1px solid #3d86f9;
  font-size: 11px;
  font-weight: 700;
}

nav > div > div > ul + div:first-of-type button:first-of-type {
  background: #dbeafd;
  color: #3d86f9;
}

nav > div > div > ul + div:first-of-type button:last-of-type {
  background: #3d86f9;
  color: #fff;
}
nav > div > div > ul + div:first-of-type > a:first-of-type {
  gap: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
nav > div > div > ul + div:first-of-type > a:first-of-type img {
  width: 35px;
  border-radius: 50%;
}
nav > div > div > ul + div:first-of-type > a:first-of-type div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
nav > div > div > ul + div:first-of-type > a:first-of-type span:first-of-type {
  font-size: 10px;
  font-weight: bold;
}
nav > div > div > ul + div:first-of-type > a:first-of-type span:nth-of-type(2) {
  font-size: 9px;
  color: #757575;
}

@media (max-width: 767px) {
  nav.navbar {
    padding: 12px 0px;
  }
}

a {
  text-decoration: none !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    gap: 4px;
    font-size: 13px;
  }
}

/* End NavBar  */
